.viewnote-container {
  flex: 1;
  padding: 130px 50px 0 50px;
}

.viewnote-header {
  display: flex;
  align-items: center;
}

.viewnote-header h4 {
  color: #2467e4;
  margin-left: 25px;
}
.viewnote-content form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.viewnote-content form input,
textarea {
  width: 100%;
  font-size: 24px;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 5px;
  border: 2px solid #c1c1c1;
}
.viewnote-content form input {
  height: 70px;
}

.viewnote-content form textarea {
  height: 500px;
  text-align: start;
  padding-top: 10px;
  font-family: inherit;
  margin-top: 30px;
}

.viewnote-content form input[type="submit"] {
  background-color: rgb(36, 103, 228);
  height: 75px;
  width: 200px;
  color: white;
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.viewnote-content form p {
  color: red;
  position: absolute;
  margin-left: 5px;
}

.viewnote-content button {
  background-color: white;
  height: 75px;
  width: 200px;
  color: rgb(36, 103, 228);
  font-size: 24px;
  border-radius: 15px;
  border: 2px solid #c1c1c1;
  margin-right: 20px;
}
